<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Phone Reviews! - Manufacturers</title>
    <link rel="stylesheet"  href="/css/style.css">

</head>
<body>
<div th:replace="fragments.html :: header"></div>

<section>
    <br>
    <br>
    <div class="manufacturers">
        <ul>
            <li th:each="manufacturer: ${manufacturer}">
                <img th:src="${manufacturer.logoUrl}" class="manfacturer_logo">
                <a th:href="'/manufacturers/' + ${manufacturer.name}" th:text="${manufacturer.name}" class="site_link"></a>
            </li>
        </ul>
    </div>
    </div>
</section>
<div th:replace="fragments.html :: footer"></div>
</body>
</html>