<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Phone Reviews! - Manufacturer</title>
  <link rel="stylesheet"  href="../css/style.css">

</head>
<body>
<div th:replace="fragments.html :: just_the_nav" class="fragment_nav"></div>

<h1 th:text="${manufacturer.name}"></h1>
<section>
  <br>
  <br>
  <div class="manufacturer site_link">

    <h2 th:text="${manufacturer.name}"></h2>
    <p th:text="${manufacturer.location}"></p>
    <ul>
      <li th:each="phone:${manufacturer.phones}">
        <p th:text="${phone.name}"></p>
        <a th:href="'/phones/' + ${phone.id}" ><img th:src="${phone.imgUrl}" class="phone_image"></a>

      </li>
    </ul>
  </div>
</section>
<div th:replace="fragments.html :: footer"></div>
</body>
</html>