<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="fragments.html :: nav"></div>

<hr>
<form action="/phones/add" method="POST">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="title"><br>

  <label for="description">Description:</label><br>
  <input type="text" id="description" name="description" ><br><br>

  <label for="manufacturer">Manufacturer:</label><br>
  <input type="text" id="Manufacturer" name="Manufacturer" ><br><br>

  <label for="manufacturer_location">Manufacturer Location:</label><br>
  <input type="text" id="Manufacturer_Location" name="Manufacturer_Location" ><br><br>

  <label for="imgUrl">Image Url:</label><br>
  <input type="text" id="imgUrl" name="imgUrl"><br><br>

  <input type="submit" value="Submit">
</form>

<div th:replace="fragments.html :: footer"></div>
</body>
</html>