<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Phone Reviews!</title>
    <link rel="stylesheet"  href="../css/style.css">

</head>
<body>
<div th:replace="fragments.html :: header"></div>

<section>
    <br>
    <br>
    <div class="phone_section phone_page_margin no_border">
        <h2 th:text ="${phone.name}" class="phone_name"></h2>
        <img th:src="${phone.imgUrl}">
        <p th:text="${phone.manufacturer.name}"></p>
        <p th:text="${phone.description}" class="phone_blurb"></p>
        <p th:text="${phone.type}"></p>
        <p th:text="${phone.pricePoint}"></p>
        <h3>Hashtags</h3>
        <ul>
            <li th:each="hashtag:${phone.hashtags}" th:text="${hashtag.name}"></li>
        </ul>
    </div>
    <div class="add_hashtag">
        <form action="./add_hashtag" method="POST">
            <label for="hashtag">Enter Hashtag:</label><br>
            <input type="text" id="hashtag" name="hashtag"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</section>
<div th:replace="fragments.html :: footer"></div>
</body>
</html>